<div class="page">
  <div class="mapouter">
    <div class="gmap_canvas"><iframe width="1038" height="500" id="gmap_canvas"
        src="https://maps.google.com/maps?q=farmacie%20brasov%20centrul%20vechi&t=&z=13&ie=UTF8&iwloc=&output=embed"
        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
        href="https://google-map-generator.com">google map generator</a></div>
  </div>

  <div class="right-column">
    <h2>CONTACTATI-NE:</h2>
    <div>Telefon: 0746 088 867
      <div>Fax: xxxx xxxxx xxxx
        <div>Email: ThePharmacy@pharmacy.com </div>
        <div class="social">
          <a href="https://www.facebook.com/" target="_blank">
            <fa-icon class="fab fa-facebook" [icon]="faFacebook"></fa-icon>
          </a>
          <a href="https://www.instagram.com/" target="_blank">
            <fa-icon class="fab fa-instagram" [icon]="faInstagram"></fa-icon>
          </a>
          <a href="https://www.twitter.com/" target="_blank">
            <fa-icon class="fab fa-twitter" [icon]="faTwitter"></fa-icon>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
