<div class="footer">
  <div class="footer-container">
      <div class="row mt-20">

          <div class="col-md-4 col-sm-6">
              <h2>The Pharmacy</h2>
              <div style="overflow:hidden;width: 700px;position: relative;"><iframe width="400" height="150" src="https://maps.google.com/maps?hl=en&amp;q=Farmacie brasov+(The Pharmacy)&amp;ie=UTF8&amp;t=p&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><div style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;"><small style="line-height: 1.8;font-size: 0px;background: #fff;"> <a href="https://googlemapsembed.net/"></a> </small></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style></div>
          </div>

          <div class="col-md-4 col-sm-5">
              <h2>CONTACTATI-NE:</h2>
              <div>Telefon: 0746 088 0xx
                  <div>Fax: xxxx xxxxx xxxx
                      <div>Email: ThePharmacy@pharmacy.com
                          <p></p>

                          <div class="social">
                              <a href="https://www.facebook.com/" target="_blank">
                                 <fa-icon class="fa-facebook" [icon]="faFacebook"></fa-icon></a>
                              <a href="https://www.instagram.com" target="_blank">
                                 <fa-icon class="fa-icon" [icon]="faInstagram"></fa-icon></a>
                              <a href="https://www.twitter.com" target="_blank">
                                 <fa-icon class="fa-icon" [icon]="faTwitter"></fa-icon></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
