@import "../../../assets/styles/_colors";

.top_menu {
  padding: 30px 150px;

  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  justify-content: space-between;
}

img {
  width: 145px;
}

.search_bar {
  input[type="text"] {
    padding: 10px;
    width: 500px;

    border-style: solid;
    border-width: thin;
    border-color: $light-green;

    margin-top: 20px;

    font-size: 17px;
    text-align: left;

    &:focus {
      outline: none;
    }
  }
}

.button_search {
  padding: 10px;

  border-style: solid;
  border-width: thin;
  border-left: none;
  border-color: $light-green;

  font-size: 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.menu_buttons {
  padding: 0 150px;
  height: 58px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  font-family: Arial, Helvetica, sans-serif;
  background-color: $light-gray;

  a {
    float: left;
    color: $dark-gray;
    padding: 16px 50px;

    flex: 1;

    text-decoration: none;
    text-align: center;
    font-size: 17px;

    &:hover {
      background-color: $light-gray;
      color: $base-black;
    }

    &.active {
      background-color: $app-blue;
      color: $base-white;
    }
  }

  .btn {
    padding: 10px 130px;
    font-size: 23px;
  }
}

img {
  padding: 10px;
  width: 110px;
  height: 100px;
}

.name {
  font-size: 25px;
  color: $dark-green;
}

.dropdown-menu {
  min-width: 25rem;
}
