@import "../../../assets/styles/colors";

.page {
  padding: 100px;
  width: 100%;
  height: 100%;

  font-family: Arial, Helvetica, sans-serif;
  text-align: left;

  background-color: $app-lighter-blue;
  color: $base-white;
}

.page-content {
  padding: 50px;
}

.dictionary {
  padding: 10px;
}

.dictionary-content {
  padding-top: 10px;
}
